* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    background-color:#48cae4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#hero{
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
#top{
    width: 100%;
    height: 80px;
    background-color: #caf0f8;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box{
    padding: 20px;
    background-color:#168aad ;
    border-radius: 10px;
}
#btm{
    width: 100%;
    height: calc(100% - 80px);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;;
    flex-wrap: wrap;
    gap: 10px;
}
.bubble{
    width: 60px;
    height: 60px;
    background-color: #000814;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}
.bubble:hover{
    background-color:#000814a4 ;
    transition: all ease 0.3s;
}
